* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.nav_bar {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.logo {
    width: 300px;
}

.mid_bar {
    width: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
}

.mobileMenuIcon {
    display: none;
  }
  
  .mobileMenu {
    display: none;
  }

#menu_nav {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 3%;
    width: 100%;
    list-style: none;
    font-size: 17px;
}

#menu_nav a {
    text-decoration: none;
    color: black;
}

.items_nav {
    position: relative;
}

.items_nav::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 4px;
    scale: 0.1;
    transform-origin: left;
    transition: scale 0.25s;
}

.items_nav:hover::before {
    scale: 1;
}

.items_nav:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}

#botao_contato {
    color: white;
    background-color: #F63B4F;
    text-decoration: none;
    margin: 0 70px 0 0px;
    border: 0;
    font-size: 20px;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.titulo_principal {
    font-size: 40px;
    margin-left: 100px;
}

.apresentaçao_titulo {
    margin-bottom: 20px;
}

/* css do navBar termina aqui */
.consultas {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.info {
    width: 400px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.info_img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 15px;

}

.serviços_titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
}

.clinica_informaçoes{
    margin-top: 20px;
}

.apresentaçao_texto {
    width: 30%;
}

.apresentaçao_img_div {
    width: 40%;
}

.apresentaçao_img {
    width: 100%;
    object-fit: cover;
    height: 800px;
}

#botao_contato a{
    text-decoration: none;
    color: white;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 70px;
    background-color: #FFC632;
    align-items: center;
    margin-bottom: 80px;
    padding: 30px 0;

}


.button_01 {
    justify-content: center;
    display: flex;
    margin-top: 90px;
    border: none;
    margin-bottom: 140px;
}

.botao-agende {
    color: white;
    background-color: #F63B4F;
    border: 0;
    font-size: 22px;
    height: 60px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.botao-agende:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}





.footer {
    background-color: #FFC632;
    height: 100%;
    padding-top: 20px;
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input_container {
    display: flex;
    flex-direction: column;
    color: white;
}

.footer_input {
    width: 250px;
    height: 30px;
    border-radius: 12px;
    padding-left: 10px;
    border: 0;
    margin-top: 5px;
}

.footer_ul_container {
    display: flex;
}

.vertical_separator {
    height: 70px;
    margin-right: 20px;
    width: 2px;
    background-color: white;
}

.horizontal_separator {
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 10px 0;
}

.footer_ul {
    list-style: none;
    color: white;
}

.footer_ul_item {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.footer_ul_item:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.footer_copyright {
    color: white;
}

@media screen and (max-width: 1220px) {
    .logo{
        width: 200px;
    }

    .info{
        width: 300px;
        height: 200px;
    }

    .info img{
        width: 100%;
        height: 100%;

    }



    
}

@media screen and (max-width: 1000px) {
    #botao_contato {
        margin: 0;
      }
    
      #menu_nav {
        gap: 0%;
        width: 100%;
        font-size: 14px;
      }

      .info{
        width: 260px;
        height: 150px;
    }

    .info img{
        width: 100%;
        height: 100%;

    }


}


    @media screen and (max-width: 850px){ 
        
        .logo {
            width: 150px;
            
            margin-left: 20px;
        }
        
        .logo img{
            width: 50%;
            height: 50%;
        }
        
        .nav_bar{
            justify-content: space-around;
            height: 80px;
            background-color: #edf0f0 ;
        }
    
        .mid_bar{
            display: none;
        }
        
        #menu_nav {
            display: none;
        }
        
        #botao_contato {
            display: none;
        }
        
        .nav_bar {
            justify-content: space-between;
        }
        
        .mobileMenuIcon {
            display: block;
            margin-right: 20px;
        }
        
        .mobileMenu {
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100%;
            background-color: #edf0f0 ;
        }
        .mobileMenuIcon img {
            width: 40px;
            height: 40px;
        }
        .mobileMenuIcon button {
            background-color: transparent;
            border-color: transparent;
            cursor: pointer;
        }
        
        #menu_nav_mobile {
            padding: 15px;
            text-decoration: none;
            list-style: none;
        }
        
          #menu_nav_mobile a {
              display: flex;
              flex-direction: column;
              text-align: center;
              padding-bottom: 1rem;
              text-decoration: none;
              text-decoration: none;
              color: black;
            }
            
            #botao_contato_mobile {
                border: none;
                margin-top: 15px;
                margin-bottom: 40px;
            }
            
            #botao_contato_mobile a {
                color: white;
                text-decoration: none;
                background-color: red;
                border-radius: 15px;
                padding: 15px;
                font-size: 20px;
            }
            .open {
                display: block;
                
                font-size: 20px;
            }
            .items_nav::before {
                display: none;
            }
            
            .titulo_principal{
                justify-content: center;
            text-align: center;
            display: flex;
            align-items: center;
            margin: 0px;
            background-color: #edf0f0 ;
        }
        
        
        .serviços_titulo {
            font-size: 32px;
            
        }
        
        .conteudo{
            flex-direction: column;
            height: 100%;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        
        .info{
            width: 60%;
            height: 40%;
            margin-bottom: 20px;
        }
        
        .info img{
            margin-bottom: 10px;
        }

        .apresentaçao_img{
            display: none;
        }

        .consultas{
            flex-direction: column;
            display: flex;
            align-items: center;
        }

        .apresentaçao_texto{
            justify-content: center;
            text-align: center;
            width: 90%;
        }

        .top_footer {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .input_container {
            margin-bottom: 30px;
            text-align: center;
            align-items: center;
            justify-content: center;
            display: flex;
          }
    
          .footer_input {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
    }

    @media screen and (max-width: 390px) {
        .serviços_titulo{
            font-size: 25px;
        }
    }